<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    <div id="app">
        <div class="container my-4 card" style="background-color: rgb(0,0,0,0.9)">
            <h1 style="color: white; text-align: center;" class="mt-3">Afectaciones por COVID 19</h1>
            <div class="row mt-4">
                <div class="col-6">
                    <div class="card" style="background-color:rgb(42, 50, 56)">
                        <div class="card-body ">
                            <h4 class="card-title" style="text-align: center; color: white;">Hombres: {{hombres.menor20.length+hombres.entre20_40.length+hombres.mayor40.length}}</h4>
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Rangos de edades</h5>
                                    <div class="row justify-content-between">
                                        <div class="col-4 card">
                                            <h6 class="card-title" style="text-align: center;">Menores de 20</h6>
                                            <div style="text-align: center;">
                                                {{hombres.menor20.length}}
                                            </div> 
                                        </div>
                                        <div class="col-4 card">
                                            <h6 class="card-title" style="text-align: center;">Entre 20 y 40</h6>
                                            <div style="text-align: center;">
                                                {{hombres.entre20_40.length}}
                                            </div>
                                        </div>
                                        <div class="col-4 card">
                                            <h6 class="card-title" style="text-align: center;">Mayor 40</h6>
                                            <div style="text-align: center;">
                                                {{hombres.mayor40.length}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card" style="background-color:rgb(42, 50, 56)">
                        <div class="card-body">
                            <h4 class="card-title" style="text-align: center; color: white">Mujeres: : {{mujeres.menor20.length+mujeres.entre20_40.length+mujeres.mayor40.length}}</h4>
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Rangos de edades</h5>
                                    <div class="row justify-content-between">
                                        <div class="col-4 card">
                                            <h6 class="card-title" style="text-align: center;">Menores de 20</h6>
                                            <div style="text-align: center;">
                                                {{mujeres.menor20.length}}
                                            </div>
                                        </div>
                                        <div class="col-4 card">
                                            <h6 class="card-title" style="text-align: center;">Entre 20 y 40</h6>
                                            <div style="text-align: center;">
                                                {{mujeres.entre20_40.length}}
                                            </div>
                                        </div>
                                        <div class="col-4 card">
                                            <h6 class="card-title" style="text-align: center;">Mayor 40</h6>
                                            <div style="text-align: center;">
                                                {{mujeres.mayor40.length}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h2 style="text-align: center; color: white" class="mt-3">Ranking de ciudades</h2>
            <ul class="list-group mt-3" >
                <li class="list-group-item d-flex justify-content-between align-items-center col-5 mx-auto" style="background-color:rgb(42, 50, 56); color: white" v-for="(ciudad, index) of ciudades">
                    {{index+1}} {{ciudad.nombre}}
                    <span class="badge badge-primary badge-pill">{{ciudad.cantidad}}</span>
                </li>
            </ul>
        </div>
    </div>
    
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="app.js"></script>
</body>
</html>